.allPostsContainer {
    height: 100%;
    width: 100%;
}
.twoPostContainer{
    display: flex;
    justify-content: center;
}
.oneLeftPost{
    display: flex;
    justify-content: center;
}
.post {
    flex-basis: 40%;
    position: relative;
    width: 90%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
    margin-right: 60px;
}
  
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important; 
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    background-color: orange;
    background-size: 2000% 2000%;
}
.trashicon{
    display: table-cell;
    float: right;
}
.trashicon:hover{
    cursor: pointer;
    color: grey;
}
.deleteModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.delete-modal-content {
  background-color: rgb(254, 254, 254);
    vertical-align: middle;
    width: 40%;
    margin-top: 15%;
    margin-left: 30%;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    border-image: initial;
    text-align: center;
}
.deletebuttons{
    display: flex;
    justify-content: center;
}
.modalheading{
    color: black;
   font-weight: 600;
    font-size: 20px;
}
#yesbutton{
    width: 100px;
    margin-right: 25px;
}
#nobutton{
    margin-left: 25px;
    width: 100px;
}
#openBlogIcon{
    background-color:grey!important;
   width: 4px;
    height: 4px;
    float: right;
    margin-left: 1px;
    margin-bottom: 10px;
    border-radius: 50%;
}
#blogIcon{
    cursor: auto;
}
#blogIcon:hover{
    cursor: pointer;
    color: black !important;
}